// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

.myDiv {
    background: #e9ecef;
    border-radius: 10px;
    font: $font;
    padding: 10px;
}
.titre{
    color: $bleu;
    margin: 10px;
}

.form-ajout{
    background-color: white;
    height: 70px;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.addBtn {
    border: none;
    width: 10%;
    height: 30px;
    background: $bleu;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.calendrier{
    width: 5%;
}

.input-text-ajout {
    border: none;
    width: 65%;
}

.liste{
    height: 50px;
    width: 95%;
    padding: 10px;
}

.tacheTable{
    text-align: left;
}

.tache{
    border: none;
}

.dateTable .date{
    width: 125px;
    height: 30px;
    background-color: white;
    border: 10px;
    border-radius: 5px;
    border: solid;
    border-color: yellow;
}

.dateTable .date i{
    color: yellow;
}

.col-btn, .editTache .col-btn{
    float: right;
    width: 50px;
}